package component

templ SkillTree() {
    <div class="w-full h-full">
        <canvas id="skillTreeCanvas"></canvas>
        <script>
            window.addEventListener('DOMContentLoaded',function() {
                alexdunmow.initSkillTree();
            });
        </script>
    </div>
}
