package component

templ SkillTree() {
    <div class="w-full h-full">
        <canvas id="skillTreeCanvas" class="w-full h-full"></canvas>
        <script>
            window.addEventListener('DOMContentLoaded',function() {
                alexdunmow.initSkillTree(document.getElementById('skillTreeCanvas'));
            });
        </script>
    </div>
}
